body, html {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
}

nav {
	position: fixed;
	background-color: green;
	margin-top: 0;
	margin-left: 0;
	height: 100vh;
	padding: 20px;
	letter-spacing: 3px;
}

.menu {
	padding: 20px;
	margin-top: 30vh;
	list-style-type: none;
}
.menu li {
	padding: 5px;
}

.submenu {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 10px;
	margin: 0;
}
.submenu li {
	padding: 4px;
}